<%- include ("header"); -%>


    <div class="box" id="heading">
        <h1>
            <%= listTitle  %>
        </h1>

    </div>

    <div class="box">
        <% for (var i = 0; i<newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=   newListItems[i]  %>
                </p>
            </div>

            <%  }  %>
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>

                <!-- <div>
                    <a href="https://nodejs.org/dist/latest-v16.x/docs/api/modules.html#the-module-object"><input class="item" type="submit"></a>
                </div> -->

                
    </div>

    <%- include("footer");  -%>